
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 40pt;
}

div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 50%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}

#blue{
	color: blue;
}
#green{
	color: green;
}
#red{
	color: red;
}
#yellow{
	color: orange;
}





